<section class="container mx-auto py-6 space-y-3">
    <p class="text-center text-4xl">Verify User</p>
    <form action="/verify" method="post" class="flex flex-col justify-center space-y-3">
        <input type="email" name="email" id="email" placeholder="example@gmail.com" class="border-2 border-gray-400">
        <input type="password" name="password" id="user_password" placeholder="Your Password" class="border-2 border-gray-400">
        <button type="submit" class="p-1 px-6 py-1 bg-blue-400 rounded-full">Verify</button>
    </form>
</section>